@page "/"


<PageTitle>Blazor Get Json</PageTitle>

<h1>Blazor Get Json</h1>


<p>Создайте приложение на asp net. Приложение должно получать данные по API при запросе страницы (когда пользователь переходит на страницу)</p>
<p>В проекте должна быть главная страница с проектами (например: project1, project2… ) при переходе на страницу любого проекта должна быть навигация (table, nav1,nav2,nav3)</p>
<p>При нажатии на кнопку table  должна выводиться таблица с данными из API запросов (данные даны ниже в виде json), данные должны выводиться по неделям (да всего 2 недели), таблица должна быть построена на ваше усмотрение, внимательно посмотрите данные Tags они отличаются от других ведь их не сгруппировать по категории, т к они всегда разные</p>
<p>При создании проектов будет учитываться умение построить web UI (css , html, javascript), также можете использовать различные фреймворки : Angular, Veu.js, bootstrap и др. Также будет учитываться умение создавать async функции, и создание файлов min (min.css)</p>
<p class="text-danger">ВАЖНО </p>
<p>На данной вакансии вам обязательно необходимо умение настраивать сервер и загружать на него приложения и обновления (ASP net). Будет полезным навык работы с Docker или похожими системами , для начала хватит базовых знаний, если вы можете показать умение работать с Docker (скриншоты видео , или даже выложить на временный хостинг, для проверки задания если можете) это будет большим плюсом</p>